@import 'tailwindcss';
@import '@fontsource-variable/baloo-tamma-2';

@theme {
	--color-higive-primary: #00B0A6;
	--color-higive-primary-2: #34A887;
	--color-higive-secondary: #F9D43C;
	--color-higive-white: #d8d8f3;
	--color-higive-black: #09091d;

	--font-poppins: 'Poppins', 'sans-serif';
	--font-baloo: 'Baloo Tamma 2 Variable', 'system-ui';
}

html {
	@apply font-baloo scroll-smooth;
}

*::selection {
	@apply bg-higive-primary text-white;
}

#nprogress {
	pointer-events: none;
}
#nprogress .bar {
	@apply bg-higive-primary! fixed! z-100! top-0! left-0! w-full! h-[3px]!;
}
